In [24]:
import pandas as pd
df = pd.read_parquet("yellow_tripdata_2021-01.parquet")#.head(1000)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [25]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [26]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [27]:
query =  """
SELECT 1 as number;

"""

pd.read_sql(query, con = engine)

   number
0       1

In [31]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_trip,root,None,False,False,False,False
1,public,yellow_tripdata_trip_full,root,None,False,False,False,False

In [30]:
df.to_sql(name = "yellow_tripdata_trip_full",con=engine, index=False)

KeyboardInterrupt:

In [23]:
query = """
SELECT * FROM yellow_tripdata_trip_full;
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,None
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,None
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,None
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,None
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,2021-01-01 00:57:42,2021-01-01 01:08:18,1.0,3.10,1.0,N,264,264,1,11.5,0.5,0.5,1.00,0.0,0.3,13.80,0.0,None
996,2,2021-01-01 00:19:34,2021-01-01 00:31:34,1.0,2.77,1.0,N,170,239,1,11.0,0.5,0.5,2.96,0.0,0.3,17.76,2.5,None
997,2,2021-01-01 00:16:38,2021-01-01 00:24:23,3.0,2.01,1.0,N,41,263,1,8.5,0.5,0.5,2.46,0.0,0.3,14.76,2.5,None
998,2,2021-01-01 00:28:09,2021-01-01 00:40:08,1.0,3.35,1.0,N,263,186,4,-12.0,-0.5,-0.5,0.00,0.0,-0.3,-15.80,-2.5,None
999,2,2021-01-01 00:28:09,2021-01-01 00:40:08,1.0,3.35,1.0,N,263,186,2,12.0,0.5,0.5,0.00,0.0,0.3,15.80,2.5,None